<div class="main-page" fxLayout="column" fxLayoutGap="40px">
<form [formGroup]="form" (ngSubmit)="onSubmit($event)">
  <header class="page-header">
    <!-- {{JSON.stringify(channels.channels[0])}} -->

    <div class="" *ngFor="let channel of dataTeste | async" ><div>debugg</div></div>

    <nav class="navbar-profiles">
      <div class="profile" *ngFor="let channel of channels.channels | async" (click)="selectChannel(channel)">
        
        <figure class="profile-thumbnail" [ngStyle]="{'background-color': channel.user.username === this.form.controls['channel'].value.user.username ? 'darkgray' : 'transparent' }" >
          <div class="profile-thumbnail-avatar">
            <img src="{{ channel.user.profile_pic_url }}" />
          </div>
        </figure>
      </div>
    </nav>





    <section class="selected-profile">
        <figure class="profile-thumbnail">
          <img src="{{ this.form.controls['channel'].value.user.profile_pic_url }}" />
          <figcaption class="profile-thumbnail-label">
            <div class="fa-label-content">
              <div>{{ this.form.controls['channel'].value.user.username }}</div>
            </div>
            <div class="profile-details">
              <div class="profile-details__influencer-level ng-binding">
                {{ this.form.controls['channel'].value.user.follower_count }} Followers |
                {{ this.form.controls['channel'].value.user.following_count }} Following
              </div>
              <div
                class="profile-details__business-info ng-binding ng-hide"
                *ngIf="this.form.controls['channel'].value.user.is_business; else elseBlock"
              >
                Business Profile
              </div>
              <ng-template #elseBlock >&nbsp;</ng-template>
            </div>
          </figcaption>
        </figure>
    </section>

    
  </header>

  <div class="main-page-content">


    


    <section class="scheduler">
      <button mat-button (click)="onSubmit($event)">Agendar</button>
      <div class="file-drop">

        <div class="schedule-type-wrapper">
          <label>Tipo do Agendamento: &nbsp;</label>
          <div class="schedule-type-button-group">
            <button value="feed" (click)="changeType($event)" [ngClass]="(this.form.controls['type'].value==='feed')?'schedule-type-button':'schedule-type-button schedule-type-button-hover'" [ngStyle]="{'background-color': this.form.controls['type'].value === 'feed' ? 'darkgray' : 'transparent' }" >Novo Post</button>
            <button value="story" (click)="changeType($event)" [ngClass]="(this.form.controls['type'].value==='story')?'schedule-type-button':'schedule-type-button schedule-type-button-hover'" [ngStyle]="{'background-color': this.form.controls['type'].value === 'story' ? 'darkgray' : 'transparent' }">Novo Story</button>
          </div>
        </div>

        <div class="schedule-date-wrapper">
          <label for="inputDate" >Data do Agendamento: &nbsp;</label>
          <input type="date" (change)="changeDate($event)" name="inputDate" id="inputDate">
        </div>

        <div>
          <ngx-file-drop
            dropZoneLabel="Drop files here"
            (onFileDrop)="dropped($event)"
            (onFileOver)="fileOver($event)"
            (onFileLeave)="fileLeave($event)"
            dropZoneClassName="input-file-drop-zone"
            contentClassName="input-file-content"
          >
            <ng-template
              ngx-file-drop-content-tmp
              let-openFileSelector="openFileSelector">
              Imagem: &nbsp;
              <button type="button" (click)="openFileSelector()" class="input-file-button">
                Selecionar Arquivos
              </button>
            </ng-template>
          </ngx-file-drop>


          

          <div class="upload-table">
            <table class="table">
              <thead>
                <tr>
                  <th>Arquivos Selecionados:</th>
                </tr>
              </thead>
              <tbody class="upload-name-style">
                <tr *ngFor="let item of files; let i = index">
                  <td>
                    <strong>{{ item.relativePath }}</strong>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

          
      </div>
    </section>





    <section class="schedules-history">
      <div class="schedules-period" >
        <p>Agendamentos de <strong>{{ schedulePeriod?.start_date | date: 'dd-MM-yyyy' }}</strong> até
          <strong>{{ schedulePeriod?.end_date | date: 'dd-MM-yyyy' }}</strong></p>
      </div>
      
      <div class="table">
        <div class="tr thead">
          <div class="td" *ngFor="let column of displayedColumns" >{{column}}</div>
        </div>

        <div class="tr tbody" *ngFor="let row of schedules" >
          <div class="td"><p> {{row.type}}</p></div>
          <div class="td"><p> {{row.status}}</p></div>
          <div class="td"><img src="{{ row.image.url }}" width="40px" /></div>
          <div class="td"><p> {{row.channel.username}}</p></div>
          <div class="td"><p> {{row.date | date: 'dd-MM-yyyy'}}</p></div>
        </div>
      </div>
    </section>





  </div>
</form>
</div>
